@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  height: 3000px;
  /* Test size */
}

header {
  background-image: url('/img/homepage.png');
  background-color: rgba(0, 0, 0, 0.6);
  height: 64vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-menu {

  list-style: none;
  margin: 22px;
  max-width: 100%;
  padding-right: 500px;
}


.nav-menu li {
  display: inline-block;
  color: white;

}

.nav-menu ul {
  padding-top: 20px;
  padding-left: -30px
}


.nav-menu li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  width: 100%;
  font-variant: small-caps;
  letter-spacing: 0.8px;
  padding: 10px;
  padding-top: -10px;
}

.nav-menu li a:hover {
  color: #4ba1db;
  transition: all 0.5s ease-in;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  height: 60px;
}

.nav-bar .logo img {
  margin-left: 10px;
  max-width: 80px;
  height: auto;
  margin-top: -0.em;
  padding-left: 20px;
}


.myButton {
  background-color: #4ba1db;
  border-radius: 11px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  margin: 10px;
  font-family: Arial;
  font-size: 14px;
  padding: 9px 11px 11px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
  transition: all 0.5s ease-in;
}

.myButton:hover {
  background-color: #476e9e;
}

.myButton:active {
  position: relative;
  top: 1px;
}


.text-header {
  position: relative;
  margin: 20vh;
  text-align: center;
  color: #fff;
}

.text-header h4 {
  opacity: 0.6;
  margin-right: -20vh;
  font-weight: 400;
  font-size: 2.0rem;
}

.text-header h2 {
  font-weight: 300;
  opacity: 0.8;
  font-size: 3rem;

}

.text-header h3 {
  opacity: 0.9;
  font-weight: 500;
  color: blue;
  font-size: 2.3rem;
}

.text-center h1 {
  font-size: 26px;
  margin: 30px;
  margin-top: 70px;
}

.services-box {

  background-color: rgb(187, 185, 185);
  font-weight: bold;
  padding: 15px 30px 0 30px;
  text-align: center;
  box-sizing: border-box;
  height: 15vh;
  border-top: 2px solid #000103;
  border-bottom: 2px solid #000103;
}

.services-box h1 {
  margin-right: 70vh;
  font-size: 2em;
  margin-top: 50px;
  color: #000103;
}


.border-bottom {
  background-color: rgb(187, 185, 185);
  border-top: 2px solid #000103;
  margin: 0px;
  border-right: 2px solid #000103;
}


.border-right {
  background-color: rgb(187, 185, 185);
  border-top: 2px solid #000103;
  margin: 0px;

}

.border-middle {
  margin: 0px;
  border-right: 2px solid #000103;
}

.border-middle-right {
  margin: 0px;

}

.border-both {
  border-top: 2px solid #000103;
  border-bottom: 2px solid #000103;
  background-color: rgb(187, 185, 185);
  border-right: 2px solid #000103;
}

.border-both-down {
  border-top: 2px solid #000103;
  border-bottom: 2px solid #000103;
  background-color: rgb(187, 185, 185);
  padding: 15px;
}

.container {
  padding-right: 35px;
  padding-left: 35px;
  margin-right: auto;
  margin-left: auto;
}

.image-container img {
  margin: 5px;
  transition: 1s;
  padding: 15px;
}

.image-container img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

#img1 {
  margin-left: 56px;
}

.work-box {
  background-color: rgb(187, 185, 185);
  font-weight: bold;
  padding: 15px 30px 0 30px;
  text-align: center;
  box-sizing: border-box;
  border-top: 2px solid #000103;
  border-bottom: 2px solid #000103;
}

.work-box h1 {
  margin-right: 70vh;
  font-size: 2em;
  margin-top: 50px;
  color: #000103;
}

.weOffer {
  float: right;
}



.onchangeImg {
  padding: 20px;
}

.onchangeLogo {
  width: 30px;
  padding-top: 20px;
}

.text1 h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.weOffer {
  float: right;
  margin-top: -65px;
  display: flex;
}

.weOffer1 {
  padding: 10px;
}

.weOffer2 {
  padding: 10px;
}